<h3>Календарь</h3>
<div class="wrapper-calendar">
  <ngb-datepicker
    [(ngModel)]="model"
    (dateSelect)="setEventsOnThisDate($event)"
    [dayTemplate]="customDay"
  ></ngb-datepicker>

  <button class="app-btn add-btn" type="button" (click)="openEventFormPage()">Добавить</button>
</div>

<ng-template #customDay let-date let-currentMonth="currentMonth" let-selected="selected" let-disabled="disabled" let-focused="focused">
  <div

    class="cell-date"
    [class.selected-date]="selected"
    [class.btn-light]="date.month !== currentMonth"
    [class.text-muted]="date.month !== currentMonth"
    [class.outside]="date.month !== currentMonth"
    [class.has-event]="hasEvents(date)"
  >
    {{ date.day }}
  </div>
</ng-template>

<div class="symbols">
  <h4>Обозначения:</h4>
  <div class="wrap-symbol">
    <div class="symbol has-event">
      <span>на этот день назначено событие</span>
    </div>
  </div>

  <div class="wrap-symbol">
    <div class="symbol current-date has-event">
      <span>текущая дата с событием</span>
    </div>
  </div>

  <div class="wrap-symbol">
    <div class="symbol selected-date">
      <span>выбранная дата</span>
    </div>
  </div>

  <div class="wrap-symbol">
    <div class="symbol current-date">
      <span>текущая дата</span>
    </div>
  </div>
</div>