:host {
    margin-left: 20px;
    width: 700px;
}

.container {
    padding: 0;
}

.inner-wrapper {
    border: 1px solid #5a5a5a;
    border-radius: 5px;
    overflow: hidden;
}

.hide-border {
    border: none;
}

.item-wrap {
    padding: 10px;
    position: relative;

    &:not(:last-child) {
        border-bottom: 1px solid #5a5a5a;
    }

    &:hover {
        background: #f5f5dc;
    }
}